.div-form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top:30px;
}

.inputs{
    margin-top: 100px;
    margin-bottom: 10px;
}

.buttom{
    margin-top: 15px;
}

.delete{
    cursor: pointer;
}